<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">My detailed profile and expertise</h4>
                  </div>
                  <div class="card-body">
                    <div class="card-title">
                      <h2>UI-Developer</h2>
                    </div>
                    <div class="row">
                        <div class="container-fluid">
                          <ul>
                            <li>Live in Pune, India.</li>
                            <li>Senior UI-Developer at Pubmatic India.</li>
                            <li>Bachelor in Computer Applicaiton (B.C.A.)</li>
                          </ul>
                        </div>
                      </div>

                    <div class="row">
                      <div class="container-fluid">
                        <h2><small>Career Objectives</small></h2>
                        <span>
                          A dynamic professional, with 8 years of rich experience in <b>UI Developement</b>. I have been part of multiple
                          projects that encompassed the full software developemet life cycle. I have got valuable experience in developing Web
                          Application's UI using core javasscript by following OOP, Angular, ECMA-5, and ECMA-6 script's features, HTML5, CSS,
                          CSS3, Bootstrap, jQuery, PHP, NodeJS, Java, Servlets, JSP.
                        </span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="container-fluid">
                        <h2><small>Career Profile</small></h2>
                        <span>
                          <ul>
                            <li>Having 8 years of extensive experience in design, developement, customization of software application in
                              Javascript, Angular, jQuery, HTML5, CSS3, Bootstrap, PHP, Java, Servlet, Node JS.</li>
                            <li><b>Have excellency in Angular</b></li>
                            <li><b>Strong javascript skills, worked on server side as well by writting code in PHP, Java, Servlets, JSP,
                                Node Js.</b></li>
                            <li>Experience in developing websites/ecomerce using PHP, Wordpress, Joomla, Shopify, Codeigniter</li>
                            <li>Proficent user of Eclipse, VS code, Net Beans, Dreamweaver</li>
                          </ul>
                        </span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="container-fluid">
                        <h2><small>Programming Skills</small></h2>
                        <span>Angular JS, Angular 2 and above, core javascript, jQuery, HTML5, CSS, OOPS, Bootstrap, PHP</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="container-fluid">
                        <h2><small>Secondary Skills</small></h2>
                        <span>Node JS - Express, React-Redux, Core Java, JSP, Servlets, GIT, SVN, Gulp</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="container-fluid">
                        <h2><small>PHP Framework/Ecomerce/CMS Used</small></h2>
                        <span>Codeigniter, Joomla, Wordpress, Shopify</span>
                      </div>
                    </div>

                    <div class="row">
                        <div class="container-fluid">
                          <h2><small>Projects I worked on and publicly accessible.</small></h2>
                          <span>
                            <ul>
                              <li><a href="https://www.osianama.com/">Osianama</a></li>
                              <li><a href="https://www.gruhkhoj.com/">Gruhkhoj</a></li>
                              <li><b>For my detailed work please cehck my <a href="#/resume">resume</a>.</b> Most projects I worked on are not publicly accessible, so not able to provide links over in here.</li>
                            </ul>
                          </span>
                        </div>
                      </div>

                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/photo.jpeg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">UI-Developer</h6>
                      <h4 class="card-title">Sachin Gavas</h4>
                      <p class="card-description">
                          I strongly belive in core developement, I realy love to develop next generation UI along with backend development. I like to keep using latest technologies with proven coding methodologies and build sophisticated and elegant web applications.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
